@import "./core/base";
@import "./core/reset";
@import "./core/config";
@import "./component/folded_corner";

body{
 font-size:14px;
 min-width:1200px;
 font-family: 'Microsoft Yahei', Arial, STHeiti, sans-serif;
 background: #fff;
}

a{
 color:$themeColor;
 text-decoration: none;
 &:hover{
  text-decoration: underline;
 }
}

.btn {
 display: inline-block;
 cursor:pointer;
}

.icon{
 display: inline-block;
}

.block-top-func-line{
 height:45px;
 line-height:44px;
 border-bottom: 1px solid #e5e5e5;
 background: #f5f5f5;
 .logo{
  display: inline-block;
  font-weight:bold;
  padding:0 10px;
  @include setHeightGroup(44px);
  float:left;
  a{
   color:#333;
  }
 }
 .site-intro{
  float:left;
 }
 .search-input-box{
  float: left;
  .btn-search{
   display:inline-block;
   width: 26px;
   color: red;
   @include setHeightGroup(26px);
  }
  .search-select{
   float:left;
  }
  input{
   @include setHeightGroup(26px);
   padding:0 5px;
   width: 230px;
   font-size:14px;
  }
 }
}

.test-folded-corner{
 width: 200px;
 height: 100px;
 @include folded-corner(#58a, 2em, 40deg);
 @extend  %textOverflowEllipsis;
}
